<form method="post" action="{{ path('app_compagny_delete', {'id': compagny.id}) }}" onsubmit="return confirm('Etes vous sûre de vouloir effacer cette entreprise ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ compagny.id) }}">
    <button class="btn btn-sm btn-danger">Supprimer</button>
</form>
