{% extends 'base.html.twig' %}

{% block title %}Nouvelle entreprise
{% endblock %}

{% block body %}
	<h1 class="py-5 text-center">Ajouter une nouvelle entreprise</h1>

	
		{{ component('compagny_add', {
        compagny: compagny.id  ? compagny : null,
        form : form
    }) }}
	

	<a href="{{ path('app_compagny_index') }}" class="btn btn-sm btn-success">Retour à la liste</a>
{% endblock %}
