{% extends 'base.html.twig' %}

{% block title %}Modifier le statut{% endblock %}

{% block body %}
    <h1 class="py-5 text-center">Modifier le statut</h1>

    {{ include('status/_form.html.twig', {'button_label': 'Enregistrer'}) }}

    <a href="{{ path('app_status_index') }}" class="btn btn-success ">Retour à la liste</a>

    {{ include('status/_delete_form.html.twig') }}
{% endblock %}
