{% extends 'base.html.twig' %}

{% block title %}Statuts existants{% endblock %}

{% block body %}
    <h1 class="py-5 text-center">Liste des statuts existants</h1>

    <table class="table">
        <thead>
            <tr>
               
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for status in statuses %}
            <tr>
                
                <td>{{ status.name }}</td>
                <td>
                    <a href="{{ path('app_status_show', {'id': status.id}) }}" class="btn btn-sm btn-primary">Voir le détail</a>
                    <a href="{{ path('app_status_edit', {'id': status.id}) }}" class="btn btn-sm btn-success">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_status_new') }}" class="btn btn-sm btn-dark">Ajouter un statut</a>
{% endblock %}
