{% extends 'base.html.twig' %}

{% block title %}New CategoryFile{% endblock %}

{% block body %}
    <h1>Create new CategoryFile</h1>

    {{ include('category_file/_form.html.twig') }}

    <a href="{{ path('app_category_file_index') }}">back to list</a>
{% endblock %}
