{% extends 'base.html.twig' %}

{% block title %}Nouveau stagiaire{% endblock %}

{% block body %}
     <h1 class="py-5 text-center">Ajouter un nouveau stagiaire</h1>

   {{ component('intern_add', {
        user: user.id  ? user : null,
        form : form
    }) }}
    <a href="{{ path('app_intern_index') }}">back to list</a>
{% endblock %}
