{% extends 'base.html.twig' %}

{% block title %}Nouveau stagiaire
{% endblock %}

{% block body %}
	<h1 class="py-5 text-center">Ajouter un nouveau stagiaire</h1>

	{{ component('intern_add', {
        user: user.id  ? user : null,
        form : form
    }) }}
	<div class="d-flex justify-content-center p-3">
		<a href="{{ path('app_intern_index') }}" class="btn btn-success justify-content-center">Revenir à la liste</a>
	</div>
{% endblock %}
