{% extends 'base.html.twig' %}

{% block title %}Nouvelle tâche{% endblock %}

{% block body %}
    <h1 class="py-5 text-center">Créer une nouvelle tâche</h1>

    {{ include('task/_form.html.twig') }}

    <a href="{{ path('app_task_index') }}">back to list</a>
{% endblock %}
