{% extends 'base.html.twig' %}

{% block title %}Nouvel Employé{% endblock %}

{% block body %}
    <h1 class="py-5 text-center">Ajouter un nouvel employé</h1>

   {{ component('user_add', {
        user: user.id  ? user : null,
        form : form
    }) }}
<div class="d-flex justify-content-center p-3">
    <a href="{{ path('app_employe_index') }}" class="btn btn-success justify-content-center">Revenir à la liste</a>
</div>
{% endblock %}
